.sectionImage{
    aspect-ratio:1/1;
    width: 20vw;
    display: block;
    margin: 0 auto;
    background-color: var(--secondary-color);
    /*create bg-secondary color and change it for light yellow? */
    border-radius: 50%;
}

.sectionName{
    display: block;
    text-align: center;
}

.sectionLink {
  text-decoration: none;
  color: inherit;
}
